.sectionMonth {
  // padding-bottom: .5vmax;
  padding-left: .5vmax;
  
  // &:last-child {
  //   margin-bottom: 1vmax;
  // }

  .monthLabel {
    display: block;
    width: 100%;
    height: 100%;
    margin-bottom: .2vmax; 
    cursor: pointer;
    &:hover {
      .months {
        padding-left: .3vmax;
      }
    }
    .months {
      color: rgb(6, 113, 33);
      transition: padding-left .3s;
    }

  }

  input[type=checkbox] {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;

    &:checked {
      &~.daysList {
        height: 0;
        opacity: 0;
        margin: 0;
        padding: 0;
        font-size: 0;
      }        
    }
  }

  .daysList {
    transition: opacity .6s, padding-bottom .3s;
    padding-bottom: .5vmax;
    overflow: hidden;
    font-size: inherit;
  }

}