.sectionOrder {
  padding-left: 1vmax;
  margin-top: .2vmax;
  padding-top: 2px;
  padding-bottom: 2px;
  display: flex;
  width: 60%;
  justify-content: space-between;

  // outline: 1px solid green;

  // &.found {
  //   .btnOpenOrder {
  //     .orderName {
  //       .requestNuber {
  //         background-color: rgba(127, 255, 212, 0.393);
  //       }
  //     }
  //   }
    
  // }
// height: 0;
// padding: 0;
// margin: 0;

  .btnOpenOrder {
    // outline: 1px solid blue;
    display: flex;
    justify-content: space-between;

    width: 65%;
    height: 100%;
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    font: inherit;
    font-size: 1vmax;
    display: flex; 
    align-items: center;
    cursor: pointer;

    &:hover {
      .openOrder {
        opacity: 1;
      }
      .orderName {
        color: rgb(12, 105, 192);
      }
      .orderStatus {
        // .statusSign {
        //   opacity: 0;
        // }
        // .statusHint {
        //   opacity: 1;
        // }  
      }

    }
    
    .orderName {
      text-align: left;
      color: #424242;
      transition: color .1s;
      margin-right: 1vmax;
      // width: 35%;

      .requestNuber {
        color: #00539c;
        font-size: .9vmax;
        .found {
          background-color: rgba(127, 255, 212, 0.393);
        }        
      }

      .oredrUser {
        color: #00539c;
        white-space: nowrap;
        font-size: .9vmax;
        .italic {
          font-style: italic;
        }
        
      }
    }

    .orderStatus {
      margin-right: 1vmax;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      width: 1vmax;

      &.agreed {
        color: rgb(42, 142, 42);
      }
      &.refused {
        color: coral;
      }
      &.inprogress {
        color: #00539c;
      }        
      &.cuestion {
        color: #70787e;
      }       
      .statusSign {
        opacity: 1;
        transition: opacity .3s;
       
      }

      .statusHint {
        position: absolute;
        left: 0;
        opacity: 0;
        transition: opacity .3s;
        width: 100%;
        text-align: center;
        font-size: .8vmax;
      }
    }

    .openOrder {
      font-size: .8vmax;
      color: rgb(12, 105, 192);;
      opacity: 0;
      transition: opacity .3s;
    }
  }

  .agreeBtn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;

    button {
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 8px;
      padding-bottom: 8px;
      cursor: pointer;
      background-color: transparent;
      border: 1px solid rgb(214, 214, 214);
      width: 5vw;      
      font: inherit;
      font-size: .7vmax;
      font-weight: 500;
      transition: border-color .3s;

      &:hover {
        &.agreed {
          border-color: rgb(42, 142, 42);
        }
        &.refused {
          border-color: coral;
        }
        &.open {
          border-color: #00539c;
        }
      }

      &.agreed {
        color: rgb(42, 142, 42);
      }
      &.refused {
        color: coral;
      }
      &.open {
        color: #00539c;
      } 

      div {
        display: flex;
        justify-content: center;
        font-size: .7vmax;
        width: 90%;
      }

    }
  }
}