.sectionOrder {
  padding-left: 1vmax;
  margin-top: .2vmax;
  padding-top: 2px;
  padding-bottom: 2px;

  &.found {
    background-color: rgba(127, 255, 212, 0.393);
  }
// height: 0;
// padding: 0;
// margin: 0;

  .btnOpenOrder {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    font: inherit;
    font-size: 1vmax;
    display: flex; 
    align-items: center;
    cursor: pointer;

    &:hover {
      .openOrder {
        opacity: 1;
      }
      .orderName {
        color: rgb(12, 105, 192);
      }
      .orderStatus {
        .statusSign {
          opacity: 0;
        }
        .statusHint {
          opacity: 1;
        }  
      }

    }
    
    .orderName {
      text-align: left;
      color: #424242;
      transition: color .1s;
      margin-right: 1vmax;
      width: 50%;

      .requestNuber {
        color: #00539c;
        font-size: .9vmax;
      }

      .oredrUser {
        color: #00539c;
        white-space: nowrap;
        font-size: .9vmax;
        .italic {
          font-style: italic;
        }
        
      }
    }

    .orderStatus {
      margin-right: 1vmax;
      // outline: 1px solid rgb(195, 174, 174);
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      width: 10vmax;

      &.agreed {
        color: rgb(42, 142, 42);
      }
      &.refused {
        color: coral;
      }
      &.inprogress {
        color: #00539c;
      }        
      &.cuestion {
        color: #70787e;
      }       
      .statusSign {
        opacity: 1;
        transition: opacity .3s;
       
      }

      .statusHint {
        position: absolute;
        left: 0;
        opacity: 0;
        transition: opacity .3s;
        width: 100%;
        text-align: center;
        font-size: .8vmax;
      }
    }

    .openOrder {
      font-size: .8vmax;
      color: rgb(12, 105, 192);;
      opacity: 0;
      transition: opacity .3s;
    }
  }

  // outline: 1px solid red;
}