.searchList {
  display: grid;
  grid-template-columns: repeat(5, 1fr); 
  gap: 1.7vw;
  padding: 1vh 3vw;
  
  place-items: center;
  grid-template-rows: auto;

}

.name {
  font-weight: 700;
  font-size: 1.2vmax;
  color: #437EC7;
  padding: 2vh 3vw .5vh 3vw;
  
  margin-bottom: 2vw;
}

@media screen and (min-width: 800px) {
  .searchList {
    grid-template-columns: repeat(6, 1fr); 
  }
  
  .name {
    font-size: 1.2vmax;
  }
}

@media screen and (min-width: 1000px) {
  .searchList {
    grid-template-columns: repeat(7, 1fr); 
  }
  
  .name {
    font-size: 1.2vmax;
  }
}

@media screen and (min-width: 1200px) {
  .searchList {
    grid-template-columns: repeat(8, 1fr); 
  }
  
  .name {
    font-size: 1.2vmax;
  }
}