.searchList {
  display: flex;
  flex-wrap: wrap;
}

.name {
  font-weight: 700;
  font-size: 1.3vmax;
  color: #437EC7;
  margin-top: 1vmax;
}

@media screen and (min-width: 800px) {

}

@media screen and (min-width: 1000px) {

}

@media screen and (min-width: 1200px) {

}