.mainpage {
  position: relative;
  // outline: 1px solid red;
  display: flex;
  width: 100%;
  height: 100vh;
  overflow: hidden;

  .sidebar {
    position: relative;
    width: 200px;
    height: 100vh;
    // overflow: hidden;
    flex-shrink: 0;
    background-color: rgb(8, 87, 161);
    color: white;
    padding: 8px;

    > div {
      width: 100%;
      margin-bottom: 10px;

      &.logPrsn {
        height: 100px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .remoteUser {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          
          .name {
            font-weight: 700;
          }
          .domain {
            font-size: smaller;
          }
        }

      }
      &.lk {
        margin-top: 80px;
        .lkrow {
          position: relative;
          display: flex;
          justify-content: space-between;
          align-items: center;
          border-bottom: 1px solid transparent;
          transition: border-bottom .3s;

          .lkLink {
            display: flex;
            align-items: center;
            color: wheat;
            font-size: smaller;
            margin-bottom: 4px;
            // height: 40px;
            padding: 10px 0 5px 0;
            flex-grow: 1;

            // outline: 1px solid red;

            .lkIkon {
              background-size: cover;
              background-repeat: no-repeat;
              width: 15px;
              height: 15px;
              margin-right: .5vmax;
              flex-grow: 0;
              flex-shrink: 0;
            }
          }
          .cnt {
            // padding-left: 1px;
            font-size: 12px;
          }
          .lkHint {
            width: auto;
            padding: 2px 4px;
            position: absolute;
            top: 30px;
            left: -1000px;
            color: black;
            background-color: #f7efec;
            z-index: 999;
            font-size: 12px;

          }
          &:hover {
            border-bottom: 1px solid wheat;
            .lkHint {
              left: 20px;
              animation: appearance 1500ms ease-in-out forwards;
            }
          }         
        }
       
      }
      &.backLink {
        position: absolute;
        left: 10px;
        bottom: 10px;
        display: flex;
        flex-direction: column;
        
        a{color: white;}
      }
    }
  }
  .main {
    flex-grow: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    .mainHeader {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 100px;
      padding: 1vmax;
      flex-shrink: 0;
      border-bottom: 1px solid rgba(8, 87, 161, 0.139);
      background-color: #fefefe;
      background-image: linear-gradient(rgba(8, 87, 161, 0.143), white);

      .pageName {
        width: 60%;
        font-family: pple-system, BlinkMacSystemFont, 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-size: 1.3vmax;
        font-weight: 700;
        color: rgb(8, 87, 161);
      }

    }
    .systemList {
      width: 100%;
      flex-grow: 1;
      // outline: 1px solid green;
      overflow-y: auto;
      padding-left: 1vmax;
      padding-right: 1vmax;

      
      overflow-y: scroll;
      overflow-x: hidden;
      scrollbar-width: 4px;
      scrollbar-color:rgb(8, 87, 161) white;
      &::-webkit-scrollbar { width: 4px; }
      &::-webkit-scrollbar-track { background: white; }
      &::-webkit-scrollbar-thumb { background-color: rgb(8, 87, 161); }

      .sections {
        height: 100%;
        display: flex;
        flex-direction: column;
      }

    }
  }

  @keyframes appearance {
    0% {
      left: -1000px;
      opacity: .0;
    }
    79% {
      left: -1000px;
      opacity: .0;
    }
    80% {
      left: 20px;
      opacity: .0;
    }
    100% {
      opacity: 1;
    }
  }

  // flex-direction: column;
  // align-items: center;
  // width: 100%;  
  // color: white;

  // .header {
  //   display: flex;
  //   justify-content: space-between;
  //   align-items: center;
  //   width: 100%;
  //   padding: 1.4vh 3vw;
  //   background-color: #F04E25;
  //   // min-height: 1.6vw;

  //   .head_systemname {
  //     font-family: pragmaticaextralight, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  //     'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  //     sans-serif;
  //     -webkit-font-smoothing: antialiased;
  //     -moz-osx-font-smoothing: grayscale;
  //     font-weight: 700;
  //     font-size: 1.2vmax;
  //     width: 41vw;
  //     animation: appearance 500ms ease-in-out forwards;
  //   }
  //   // standard font
  //   .head_systemname_sf { 
  //     font-family: 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  //     -webkit-font-smoothing: antialiased;
  //     -moz-osx-font-smoothing: grayscale;
  //     font-size: 1.2vmax;
  //     width: 41vw;
  //     animation: mainpage_appearance__5pBMr 500ms ease-in-out forwards;
  //     letter-spacing: -0.05vmax;
  //   }

  //   .remoteUser {
  //     font-size: 1vmax;
  //     flex-grow: 1;
  //     display: flex;
  //     justify-content: center;
  //     animation: appearance 500ms ease-in-out forwards;
  //   }
  // }

  // .syetems {
  //   display: flex;
  //   flex-direction: column;
  //   width: 100%;
  // }



}
