.input {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;

  .htmInput {
    border: 1px solid grey;
    width: 100%;
    padding: .8vmax 3.5vmax .8vmax 1vmax;
    font: inherit;
    letter-spacing: .6px;
    font-size: inherit;
    
    &:focus {
      outline: 1px solid lightblue;
    }
  }

  .clearBtn {
    position: absolute;
    right: 0;
    border: none;
    padding: 0;
    margin: 0;
    background-color: transparent;
    width: 3.1vmax;
    height: 3.7vmax;
    color: gray;
    transition: color .3s;
    font-size: 2vmax;
    font-weight: 100;
    opacity: 0;
    transition: opacity .3s;

    &.showClnBtn {
      opacity: 1;
    }

    &:focus,
    &:hover {
      color: red;
    } 
  }
}