.section {
  margin-top: 1vmax;
  margin-bottom: 1.5vmax;
  padding-bottom: 1.5vmax;
  // outline: 1px solid red;
  border-bottom: 1px solid rgba(128, 128, 128, 0.418);

  .sectionName {
    color: rgb(60, 135, 204);
    font-size: 1.3vmax;
    font-weight: 700;
  }


  .systemList {
    // outline: 1px solid blue;
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 800px) {
  .section {
    .sectionList {
      grid-template-columns: repeat(6, 1fr); 
    }
    header {
      .name {
        font-size: 1.4vmax;
      }
    }  
  }
}
