.filters {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  // outline: 1px solid #317EC1FF;
  margin-top: 12px;
  margin-bottom: 12px;

  div {
    display: flex;
    align-items: center;

    // p {
    //   display: block;
    //   white-space: nowrap;
    //   margin-right: 10px;
    // }
  }

  .clearSearchBtn {
    width: 135px;
    height: 39px;
    border: 1px solid gray;
    border-radius: 3px;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #317EC1FF;
    color: white;
  }  

}