.toolbar {
  position: fixed;
  display: flex;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  z-index: 999;
  color: white;
  // opacity: .3;
  animation: open .3s linear;

  .window {
    padding: 1%;
    min-height: 100px;
    
    border: 2px solid gray;
    background-color: rgba($color: #161619, $alpha: .85);
    display: flex;
    flex-direction: column;

    .main {
      flex-grow: 1;
      margin-bottom: 30px;

      .systemItemList {
        padding-right: 4px;
        padding-left: 4px;
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        max-height: 80vh;
        scrollbar-width: 2px;
        scrollbar-color:white rgb(16, 16, 19) ;
        &::-webkit-scrollbar { width: 2px; }
        &::-webkit-scrollbar-track { background: rgb(16, 16, 19); }
        &::-webkit-scrollbar-thumb { background-color: white; }

        .systemItem {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 2% 0;
          padding-right: 10px;
          border: 1px solid transparent;
          transition: border .3s;
          background-color: transparent;

          &.draged {
            .sysIcon {
              background-size: 0%;
            }
            .request_name {
              color: #161619;
              background: linear-gradient(90deg, rgba(255, 255, 255, 0) 80%, rgba(255, 255, 255, 0) 100%);
            }
          }
          &.notdraged {
            .sysIcon {
              background-size: cover;
            }
            .request_name {
              // color: white;
            }
          }

          // &::after {
          //   content: '';
          //   position: absolute;
          //   height: 100%;
          //   right: 0;
          //   width: 20%;
          //   opacity: .95;
          //   background: linear-gradient(90deg, rgba(22,22,25,0) 0%, rgba(22,22,25,1) 100%);
          // }

          &:hover {
            border: 1px solid wheat;
            cursor: move;
          }

          .sysIcon {
            height: 30px;
            width: 100px;
            background-size: cover;
            margin-left: 1%;
          }
          .request_name {
            font-size: 1.2vmax;
            flex-grow: 1;
            overflow: hidden;
            white-space: nowrap;
            
            background-color: #ffffff;
            background: linear-gradient(90deg, rgba(255, 255, 255, 1) 80%, rgba(255, 255, 255, 0) 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
        }
      }
      

    }

    .btnSection {
      display: flex;
      justify-content: space-around;
      padding: 1% 0;

      button {
        padding: 0;
        margin: 0;
        background-color: transparent;
        width: 30%;
        min-width: 50px;
        height: 5vh;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid rgba(245, 222, 179, 0.3);
        transition: border .3s, background-color .3s;
        font-size: 20px;

        &:hover {
          border: 1px solid wheat;
          background-color: rgba($color: #161619, $alpha: .3);
          // background-color: #16161995
        }
        &.btnAccept {
          color: lightgreen;
        }
        &.btnCancel {
          color: coral
        }
        
      }

    }


  }


}

@keyframes open {
  0% {
    opacity: .3;
  }
  100% {
    opacity: 1;
  }
}
