.langButton {
  display: flex;
  width: 100%;
  justify-content: end;
  margin-top: 10px;

    button {
      display: flex;
      justify-content: center;
      align-items: center;
      background: transparent;
      font-size: 14px; 
      color: #F47435;
      cursor: pointer;


    }
     .current {
        text-decoration: underline;
      }
  // flex-direction: column;
  // position: relative;

//   .langSwitcher {
//     height: 2vmax;
//     width: 2vmax;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     background: transparent;
//     font-size: 1vmax; 
//     color: inherit;
//     border-radius: .2vmax;
//     transition: border .3s;
//     border: .1vw solid transparent;

//     &.active,
//     &:focus,
//     &:active,
//     &:hover {
//       border: .1vw solid white;
//     }
//   }
  
//   .dropList {
//     display: flex;
//     flex-direction: column;
//     position: absolute;
//     z-index: 99;
//     color: #494949;
//     top: 2.1vmax;
//     left: 0;
//     box-shadow: 0px 0px .3vmax rgba($color: #888888, $alpha: .5);
//     font-size: 1vmax; 

//     button {
//       height: 2vmax;
//       width: 2vmax;
//       display: flex;
//       justify-content: center;
//       align-items: center;
//       background: white;
//       font-size: 1vmax; 
//       color: inherit;
//       border: .1vw solid #DDDDDD;
//       transition: background-color .3s;

//       &:focus,
//       &:active,
//       &:hover {
//         background-color: #DDDDDD;
//       }
//     }

//   }
}
