.langButton {
  display: flex;
  width: 100%;
  justify-content: right;
  margin-top: 10px;

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    font-size: 14px; 
    color: #F47435;
    cursor: pointer;


  }
  .current {
    text-decoration: underline;
  }

}
