.picker {
  display: flex;
  flex-direction: column;
  max-width: 310px;
  border: 1px solid gray;
  border-radius: 3px;
  background-color: white;

  .navigation {
    display: flex;
    justify-content: space-around;
    padding: 2px;
    width: 100%;

    &>div {
      flex-shrink: 0;

      button {
        background-color: transparent;
        font: inherit;
        color:#424242;
        outline: 1px solid white;
        transition: outline .3s;

        .faCaret {
          color:rgb(128, 128, 128);
        }  

        &.rest {
          padding: 0;
          width: 90px;
        }
        &.navNav {
          padding: 0;
          width: 90px;
          cursor: pointer;
          &:hover {
            color: #0857A1FF;
          }
        }
        &:hover:has(.faCaret) {
          outline: 1px solid rgb(128, 128, 128);
        }
      }      
    }

    .monthNav {
      position: relative;
      .monthLs {
        position: absolute;
        display: flex;
        flex-direction: column;
        background-color: #F6F9FCFF;
        width: 100%;
        padding-bottom: 4px;
        font-size: 14px;

        .curMonth {
          background-color: #0857A1FF;
          color: white;
        }

        button {
          background-color: transparent;
          border: name;
          margin: 0;
          padding: 0;
          font: inherit;
          margin-top: 4px;
          cursor: pointer;
          border-style: solid;
          border-width: 1px;
          border-color: transparent;
          transition: border-color .3s;
          
          &:hover {
            border-color: #0857A1FF;
          }
        }

        box-shadow: 0px 0px 5px rgba(8, 87, 161, 0.655);
      }
    }

    .yearhNav {
      position: relative;
      .yearLs {
        position: absolute;
        display: flex;
        flex-direction: column;
        background-color: #F6F9FCFF;
        width: 100%;
        padding-bottom: 4px;
        font-size: 14px;
        .curYear {
          background-color: #0857A1FF;
          color: white;
        }

        button {
          background-color: transparent;
          border: name;
          margin: 0;
          padding: 0;
          font: inherit;
          margin-top: 4px;
          cursor: pointer;
          border-style: solid;
          border-width: 1px;
          border-color: transparent;
          transition: border-color .3s;
          
          &:hover {
            border-color: #0857A1FF;
          }
        }

        box-shadow: 0px 0px 5px rgba(8, 87, 161, 0.655);
      }
    }

  }

  .dayNames {
    width: 100%;
    display: grid;
    place-items: center;
    gap: 2px;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: auto;
    padding: 2px;
    color: #424242;

    .weekDayName {
      font-weight: 700;
      font-size: smaller;
      &.weekend {
        color: red;
      }
    }

  }

  .dates {
    width: 100%;
    display: grid;
    place-items: center;
    gap: 2px;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: auto;
    padding: 2px;

    .dateCell {
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: white;
      border-radius: 3px;
      border: 1px solid rgba(128, 128, 128, 0.19);
      transition: border .3s, background-color .3s;

      &.today {
        outline: 1px solid blue;
      }
      &.weekend {
        color: red;
      }
      &.selected {
        background-color: aquamarine;
      }

      &:hover {
        border: 1px solid rgb(128, 128, 128);
      }
    }
  }

}