.rowSection {

  &>ul {
    display: grid;
    grid-template-columns: 66.7vw 24.5vw;

    li:first-child {
      ul {
        grid-template-columns: repeat(6, 1fr); 
        padding-right: 0;
      }
    }
    li:nth-child(2) {
      ul {
        grid-template-columns: repeat(1, 1fr); 
        padding-left: 0;
        place-items: normal start;
      }
      h2 {
        width: 20vw;
        padding-left: 0;
      }
    }


  }

}