.personalArea {
  position: relative;
  display: flex;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;

  .main {
    flex-grow: 1;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    // border: 3px solid red;

    .mainHeader {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      height: 7vh;
      padding: 1vmax;
      flex-shrink: 0;
      border-bottom: 1px solid rgba(8, 87, 161, 0.139);
      background-color: #fefefe;
      background-image: linear-gradient(rgba(8, 87, 161, 0.143), white);

      // border: 3px solid green;

      .pageName {
        width: 100%;
        font-family: pple-system, BlinkMacSystemFont, 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-size: 1.3vmax;
        font-weight: 700;
        color: rgb(8, 87, 161);
      }
      .mobwraper {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }

    .myordersSectioon {
      flex-grow: 1;
      display: flex;
      flex-direction: column;

      .orderList {
        height: 93vh;
        overflow-y: auto;
        padding: 1vmax;

        scrollbar-width: 4px;
        scrollbar-color:rgb(8, 87, 161) white;
        &::-webkit-scrollbar { width: 4px; }
        &::-webkit-scrollbar-track { background: white; }
        &::-webkit-scrollbar-thumb { background-color: rgb(8, 87, 161); }        

        .openCloseBtn {
          position: relative;
          background-color: transparent;
          border: none;
          margin: 0;
          padding: 0;
          width: 20px;
          height: 20px;
          cursor: pointer;
          &:hover {
            outline: 1px solid rgb(224, 223, 223);
          }
          &::before {
            content: '';
            position: absolute;
            width: 10px;
            height: 2px;
            top: 10px;
            left: 2px;
            background-color: #0857A1FF;
            transform: rotate(45deg);
            border-radius: 1px;
            transition: transform .3s;
          }
          &::after {
            content: '';
            position: absolute;
            width: 10px;
            height: 2px;
            top: 10px;
            left: 8px;
            background-color: #0857A1FF;
            transform: rotate(-45deg);
            border-radius: 1px;
            transition: transform .3s;
          }
          &.open {
            &::before {
              transform: rotate(-45deg);
            }
            &::after {
              transform: rotate(45deg);
            }
          }

        }
      }
    }

    .searchBar {
      position: fixed;
      width: 335px;
      // height: 700px;
      top: calc(7vh + 1vmax);
      right: 1vmax;
      display: flex;
      flex-direction: column;
      background-color: white;
      border-radius: 3px;
      padding: .5vmax;
      box-shadow: 0px 0px 5px rgba(8, 87, 161, 0.501), 0px 0px 0px 10px rgba(255, 255, 255, 1);

      .saerchCaption {
        margin-top: 20px;
        margin-bottom: 8px;
        color: grey;
        font-weight: 500;
      }

      .searchStatus {
        display: flex;
        justify-content: space-around;

        .serchStatBtn {
          width: 30px;
          height: 30px;
          border-radius: 15px;
          cursor: pointer;
          background-color: transparent;
          border-width: 1px;
          border-style: solid;
          transition: color .3s, border-color .3s;

          &.agreed {
            color: rgb(42, 142, 42);
            border-color: rgb(42, 142, 42);;
          }
          &.refused {
            color: coral;
            border-color: coral;
          }
          &.inprogress {
            color: #00539c;
            border-color: #00539c;
          }
          &.off {
            color: rgb(174, 174, 174);
            border-color:  rgb(174, 174, 174);
          }
        }
      }
    }

    .testLink {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      flex-grow: 1;
      font-size: 14px;
      transition: font-size .5s;
      &:hover { .robot { background-position: bottom } }     
      .robot {
        width: 10vw;
        height: 10.75vw;
        background-size: cover;
        background-image: url("../../../public/system_icons/inProgresRobot.png");
        background-position: top;
      }
      p {
        font: inherit;
        font-size: 2vw;
        color: #808080;
      }
      a {
        font: inherit;
        font-size: 1.2vw;
        color: #808080;        
        span {
          color: #0857A1FF;
          text-decoration: underline;
        }
      }
    }
    
  }




  @media screen and (min-width: 500px) {
  }

  @media screen and (min-width: 800px) {
    .main {
      .mainHeader {
        justify-content: space-between;
        flex-direction: row;
        .pageName { width: 60%;}
        .mobwraper {
          width: auto;
        }  
      }

    }    
  }
  
  @media screen and (min-width: 1000px) {
  }
  
  @media screen and (min-width: 1200px) {
  } 
}  

