.answer {
  background-color: antiquewhite;
  font-size: 1vmax;
  width: 100%;

  .uperKey {
    color: #898888;
    font-weight: 700;
  }
  .subData {
    margin-left: 1vmax;
  }
    
  .answerItem {
    display: flex;
    transition: background-color .3s;
    &:hover {
      background-color: aquamarine;
    }

    .ansKey {
      color: #898888;
      min-width: 11vmax;
      margin-right: 1vmax;
    }
  }
}