.system {
  width: 49%;
  height: 42px;
  margin-bottom: 8px;
  border: .1vw solid transparent;
  border-radius: .3vw;

  &:active,
  &:hover {
    border: .1vw solid rgba($color: #333333, $alpha: .5);
    box-shadow: 0px 0px .3vmax rgba($color: #888888, $alpha: .5);
  }

  .request_url {
    padding-left: 30px;
    display: flex;
    width: 100%;
    height: 100%;
    font: inherit;
    color:inherit;
    align-items: center;

    .sysIcon {
      width: 150px;
      height: 42px;
      background-repeat: no-repeat;
      background-size: 100% auto;
      flex-shrink: 0;
    }

    .request_name {
      width: auto;
      flex-grow: 1;
    }


  }
}
