@font-face {
  font-family: segoeui; 
  src: url(./fonts/segoeui.ttf);
}
@font-face {
  font-family: pragmaticaextralight;
  src: url(./fonts/pragmaticaextralight.woff);
}
body {
  font-family: segoeui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: 4px;
  scrollbar-color: #b12300 #F04E25;
}
body::-webkit-scrollbar { width: 4px; }
body::-webkit-scrollbar-track { background: #F04E25; }
body::-webkit-scrollbar-thumb { background-color: #b12300; }

code { font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace; }
