.section {
  margin-bottom: 1vmax;

  ul {
    display: grid;
    grid-template-columns: repeat(7, 1fr); 
    gap: 25px;
    padding: 25px;
    
    place-items: center;
    grid-template-rows: auto;
  }

  .name {
    font-weight: 700;
    font-size: 24px;
    color: #437ECA;
    margin-bottom: 8px;
  }
}