.mainpage {
  width: 1280px;
  background-color: #E6E6E6;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #555555;

  header {
    display: flex;
    width: 100%;
    min-height: 100px;
    background-color: #FFFFFF;
    padding-left: 55px;
    padding-right: 55px;
    justify-content: space-between;
    align-items: center;

    img {
      height: 55px;
      width: auto;
    }
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border: 16px solid #E6E6E6;
    background-color: #FFFFFF;
    padding: 10px;
    flex-grow: 1;

    .head_systemname {
      // font-family: pragmaticaextralight, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      // 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      // sans-serif;
      font-family: 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      font-size: 24px;
      color: #F04E25;
      text-transform: uppercase;
      letter-spacing: 2px;
      margin-top: 20px;
    }

    .remoteUser {
      font-size: 17px;
      color: #F04E25;
      font-family: 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      letter-spacing: 1px;
      margin-top: 4px;
      opacity: .7;
    }

    .syetems {
      width: 100%;
      margin-top: 12px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-height: 100px;
    background-color: #999999;

  }

//   @keyframes appearance {
//     0% {
//       opacity: .3;
//     }
//     80% {
//     }
//     100% {
//       opacity: 1;
//     }
//   }

}
