.mainpage {
  width: 1280px;
  background-color: #E6E6E6;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #555555;

  header {
    display: flex;
    width: 100%;
    min-height: 100px;
    background-color: #FFFFFF;
    padding-left: 55px;
    padding-right: 55px;
    justify-content: space-between;
    align-items: center;

    img {
      height: 55px;
      width: auto;
    }
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border: 16px solid #E6E6E6;
    background-color: #FFFFFF;
    padding: 10px;

    .head_systemname {
      // font-family: pragmaticaextralight, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      // 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      // sans-serif;
      // -webkit-font-smoothing: antialiased;
      // -moz-osx-font-smoothing: grayscale;
      // font-weight: 700;
      // font-size: 1.2vmax;
      // width: 41vw;
      // animation: appearance 500ms ease-in-out forwards;
    }

    .remoteUser {
      // font-size: 1vmax;
      // flex-grow: 1;
      // display: flex;
      // justify-content: center;
      // animation: appearance 500ms ease-in-out forwards;
    }
  }

  footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-height: 100px;
    background-color: #999999;
    
    div:first-child {
      outline: 1px solid red;
      // background-image: url("../../../public/assets/bottomleftbg2.png");
      width: 100px;
    }
    
    div:last-child {
      outline: 1px solid blue;
    }
  }

//   @keyframes appearance {
//     0% {
//       opacity: .3;
//     }
//     80% {
//     }
//     100% {
//       opacity: 1;
//     }
//   }

}
