.mainpage {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;  
  color: white;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 3vh 3vw;
    background-color: #F04E25;

    .head_systemname {
      font-family: pragmaticaextralight, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      font-weight: 700;
      font-size: 1.2vmax;
      width: 40vw;
      // outline: 1px solid blue;
    }

    .remoteUser {
      font-size: 1vmax;
      flex-grow: 1;
      display: flex;
      justify-content: center;
      // outline: 1px solid blue;
    }
  }

  .syetems {
    display: flex;
    flex-direction: column;
    width: 100%;
  }


}
